@import "tailwindcss";
@import "@nuxt/ui";

html {
  font-size: 14px;
}

@media (min-width: 1024px) {
  html {
    font-size: 15px;
  }
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity 200ms ease, transform 200ms ease;
}

.page-enter-from,
.page-leave-to,
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  transform: translateY(8px);
}

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-primary-50: #f0fafc;
  --color-primary-100: #d9f1f6;
  --color-primary-200: #b3e3ed;
  --color-primary-300: #7fcde0;
  --color-primary-400: #52b6cf;
  --color-primary-500: #3faabe;
  --color-primary-600: #33899c;
  --color-primary-700: #2c6e7e;
  --color-primary-800: #265867;
  --color-primary-900: #224855;
  --color-primary-950: #0f2a35;
}
